@use 'sass:color';

$color-black: #07020d;
$color-sky: #5db7de;
$color-linen: #f1e9db;
$color-khaki: #a39b8b;
$color-grey: #716a5c;

.login-container {
  background-color: $color-linen;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
}

.login-card {
  background-color: $color-khaki;
  border-radius: 15px;

  .title-text {
    color: $color-black;
  }

  label {
    color: $color-black;
  }
}

.custom-input {
  background-color: color.adjust($color-linen, $lightness: 5%);
  border: 2px solid $color-khaki;
  color: $color-black;
  padding: 12px;
  border-radius: 8px;

  &::placeholder {
    color: rgba($color-grey, 0.6);
  }

  &:focus {
    background-color: #fff;
    border-color: $color-sky;
    box-shadow: 0 0 0 0.25rem rgba($color-sky, 0.25);
  }
}

.custom-btn {
  background-color: $color-sky;
  border-color: $color-sky;
  color: $color-black;
  padding: 12px;
  border-radius: 8px;
  transition: all 0.3s ease;

  &:hover {
    background-color: color.adjust($color-sky, $lightness: -10%);
    border-color: color.adjust($color-sky, $lightness: -10%);
    color: #fff;
  }
}
